body, html {
	font-size: 16px;
	font-family: 'Droid Serif', serif;
}

/*UTILITIES*/

.u-dash {
	color: peru;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	margin: 0 auto;
	&:after {
		width: 40%;
		content: "";
		border: 1px solid;
	}
	&:before {
		width: 40%;
		content: "";
		border: 1px solid;
	}
}
.u-container {
		padding: 0 4%;
}

/*HEADER*/
.header{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	background: white;
	display: flex;
	justify-content: space-between;
	height: 50px;
	border-bottom: 1px solid gray;
	align-items: center;
	&-logo {
		font-family: 'Raleway', sans-serif;
	}
	&-menu {
		&-icon {
			font-size:1.5em;
		}
	}
}

/*BANNER*/
.banner{
	background-image: url("https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&fm=jpg&h=700&q=75&w=1050"); height: 500px;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	color: #fff;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	position: relative;
	.u-dash {
		color: white;
		width: 450px;
	}
	&-title{
		font-size: 7em;
		font-weight: 100;
		font-family: 'Raleway', sans-serif;
		margin-bottom: 50px;
		margin-top: 0;
	}
	&-subtitle{
	font-size:1.5em;
	text-align:center;
	margin-top: 50px;
	}
	&-arrow {
		font-size:3em;
		position: absolute;
		bottom: 0;
	}
}

/*ABOUT*/
.about {
	width: 74%;
	margin: 0 auto;
	&-title{
		font-size: 2.2em;
		text-align: center;
		font-family: 'Raleway', sans-serif;
	}
	&-text {
		text-align: center;
		color: #777777;
		margin-bottom: 50px;
		margin-top: 40px;
	}
	&-contentCols {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		&-col {
			width: 30%;
			.img{
				width: 100%;
				margin-bottom:30px;
			}
		}
	}
}

/*WHAT*/
.what{
	margin: 0 auto;
	&-title{
		font-size: 2.2em;
		text-align: center;
		font-family: 'Raleway', sans-serif;
	}
	&-contentCols{
		display: flex;
		margin-top: 80px;
		&-col{
			margin: 0px 25px;
			text-align: center;
			.ico {
				font-size:8em;
				color: peru;
			}
			.text {
				color: #777777;
			}
		}
	}
}

// PREMIUM
.premium{
	margin: 0 auto;
	&-title{
		font-size: 2.2em;
		text-align: center;
		font-family: 'Raleway', sans-serif;
	}
	&-text{
		text-align:center;
		color: #777777;
	}
	&-contentCards{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
		&-card{
			max-width:32.5%;
			text-align: center;
			margin-bottom: 40px;
			.img{
				width:100%;
			}
			.subtitle{
				font-size: 1.25em;
				font-weight: normal;
				margin: 10px 0 0;
				color: #333333;
			}
			.text{
				color: #333333;
				font-size: .9em;
			}
			.title{
				font-size: 1.5em;
				margin: 0;
			}
			.contentButtons{
				&-button{
					border-radius: 20px;
					border: 1px solid gray;
					background: #fff;
					padding: 8px 14px;
					color: #333;
					font-size:0.8em;
					&:nth-child(2) {
						background: gray;
						color: white;
					}
				}
			}
		}
	}
}

// TEAM
.team {
	text-align: center;
	margin: 0 auto;
	&-title{
		font-size: 2.2em;
		text-align: center;
		font-family: 'Raleway', sans-serif;
	}
	&-text{
		text-align:center;
		color: #777777;
	}
	&-contentCols {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 90px;
		&-col {
			width: 25%;
			.img {
				width: 132px;
				border-radius: 50%;
				border: 4px solid peru;
			}
			.title {
				margin-bottom: 30px;
			}
			.text {
				color: #777;
			}
			.contentSocials {
				border-top: 1px solid #9A9A9A;
				width: 70%;
				margin: 0 auto;
				padding-top: 25px;
				&-social{
					margin: 0 10px;
					color: #9a9a9a;
					font-size: 2em;
				}
			}
		}
	}
}

// NUMBERS
.number {
	margin-top: 150px;
	text-align: center;
	&-title{
	font-size: 2.2em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	}
	&-subtitle{
		text-align:center;
		color: #777777;
	}
	&-contentCols {
		display: flex;
		justify-content: space-around;
		&-col {
			.title {
				font-size: 1.6em;
			}
			.subtitle {
				font-size: 1.1em;
				margin-bottom: 10px;
			}
			.numbers {
				font-size:3em;
				color: peru;
				font-weight: 100;
			}
		}
	}
}

// FOOTER
.footer {
	display: flex;
	justify-content: space-between;
	background: #242424;
	color: #777777;
	height: 70px;
	line-height: 70px;
	font-size: 0.8em;
	margin-top: 100px;
	&-list{
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		&-item {
			margin-right: 15px;
			.link {
				color: #777777;
				text-decoration: none;
				&:hover {
					color: white;
				}
			}
		}
	}
	&-text {
		margin: 0;
	}
	&-contentSocials {
		&-social {
			font-size:1.6em;
			margin-left:10px;
		}
	}
}